@charset "UTF-8";

body {
  background-color: #FDFAF8;
  margin: 0 15%;
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}


.container {
  margin-top: 15%;
  display: flex;
  justify-content: space-around;
}

h2 {
  color: #414141;
}

.list-item {
 padding: 0;
}

.list-item li{
  list-style: none;
}

.list-item a{
  color: #8F8F8F;
  text-decoration: none;
}

.list-item a:hover{
  color: #414141;
  text-decoration: underline;
}

.social-icon {
  padding: 0;
}

.social-icon li{
  list-style: none;
  display: inline-block;
}

.social-icon a{
  color: #414141;
}

.social-icon a:hover{
  color: #339999;
}

.sea-photo {
  width: 60%;
  border-radius: 2%;
}

@media screen and (max-width: 1024px) {
  body {
    margin: 40% 10%;
  }
  .sea-photo {
    width: 60%;
    height: auto;
  }
}

@media screen and (max-width: 896px) {
  body {
    margin: 30% 10%;
  }
  .sea-photo {
    width: 70%;
    height: auto;
  }
}

@media screen and (max-width: 480px) { 
  .container {
    margin-top: 15%;
    display: block;
    text-align: center;
  }

  .list-item li{
    list-style: none;
    display: inline-block;
  }

  .sea-photo {
    width: 100%;
    margin-top: 20%;
    border-radius: 2%;
  }
}
